h2{
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 30px 0px 0px 0px;
}
.accord{
    margin: 20px 70px 30px 70px;
    padding: 4px;
    background-color: #1C1B1F;
    border-radius: 10px;
}
ul{
    padding: 10px;
}
.btnGroup{
    display: flex;
    margin: auto;
    justify-content: center;
}