.hc{
    width: 15%;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
}
.heading{
    font-weight: 600;
    font-size: 10vh;
    display: flex;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    color: white;
}
.answer{
    color: white;
}
pre{
    color: white;
}
img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.shatwo{
    font-size: 30px;
    background-color: #1C1B1F;
    padding: 2vh;
    display: flex;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: center;
    border-radius: 10px;
}
.gp-but{
    display: flex;
    margin:auto;
    justify-content: center;
    justify-items: stretch;
}
.gp-butone{
    margin-right: 20px;
}
.foot{
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 10vh;
    color: white;
}